<!-- ./wrapper -->
<div id="modal-addPage" class="modal fade modal-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">编辑开关状态</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="form_add" action="<<<urlfor "ProjectController.SwitchEdit">>>" method="POST">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>项目名称</td>
                                <td><input v-model="currentSwitch.name" id="name" name="name" type="text" class="form-control" placeholder="Enter project name" disabled></td>
                            </tr>
                            <tr>
                                <td>项目版本</td>
                                <td><input v-model="currentSwitch.version" id="version" name="version" type="text" class="form-control" placeholder="Enter project version" disabled></td>
                            </tr>
                            <tr>
                                <td>状态</td>
                                <td>
                                    <select v-model="currentSwitch.status" id="status" name="status" class="form-control">
                                        <option value="1">开启</option>
                                        <option value="0">关闭</option>
                                    </select>
                                </td>
                            </tr>
                            <input v-model="currentSwitch.project_id" id="project_id" name="project_id" type="hidden">
                            <input v-model="currentSwitch.name" id="name" name="name" type="hidden">
                            <input v-model="currentSwitch.version" id="version" name="version" type="hidden">
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary btn-info pull-right" v-on:click="submitForm">确认提交</button>
            </div>
        </div>
    </div>
</div>
