<<<template "common/contentHeader.html" .>>>

<div class="box-header">
    <form id="form" class="form-inline" role="form" v-on:submit.prevent='callback(1)'>
        <div class="form-group">
            <label for="userid">Userid:</label>
            <input name="userid" size="20" type="text" class="form-control" id="userid" value="<<<.Userid>>>" placeholder="请输入userid">
        </div>
        <div class="form-group">
            <label for="level">等级:</label>
            <input name="level" size="20" type="text" class="form-control" id="level" value="<<<.Level>>>" placeholder="请输入等级">
        </div>
        <div class="form-group">
            <label for="gate">关卡:</label>
            <input name="gate" size="20" type="text" class="form-control" id="gate" value="<<<.Gate>>>" placeholder="请输入关卡">
        </div>
        <div class="form-group">
            <label for="jewel">宝石:</label>
            <input name="jewel" size="20" type="text" class="form-control" id="jewel" value="<<<.Jewel>>>" placeholder="请输入宝石">
        </div>
        <div class="form-group">
            <label for="startTime">Date:</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input name="startTime" class="form-control pull-right" id="start_datepicker" type="text" value="<<<.StartTime>>>" placeholder="请输入开始日期">
            </div>
            <!-- /.input group -->
        </div>
        <div class="form-group">
            <label for="endTime">Date:</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input name="endTime" class="form-control pull-right" id="end_datepicker" type="text" value="<<<.EndTime>>>" placeholder="请输入结束日期">
            </div>
            <!-- /.input group -->
        </div>

        <input type="submit" class="btn btn-info" value="查询"/>
    </form>
</div>
<!-- /.box-header -->

<div class="box-body table-responsive no-padding">
    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">

        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="activate to sort column descending">Userid</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">等级</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">关卡</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">金币</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">宝石</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">钥匙</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">累计金币</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">累计宝石</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">累计钥匙</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">成就积分</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">砖块</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">累计抽奖</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">使用武器</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">武器等级</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">签到</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">注册日期</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <template v-for="(ic,index) in IcList" v-cloak>
                <tr role="row" class="odd">
                    <td>{{ ic.id }}</td>
                    <td>{{ ic.level }}</td>
                    <td>{{ ic.gate }}</td>
                    <td>{{ ic.gold }}</td>
                    <td>{{ ic.jewel }}</td>
                    <td>{{ ic.key_num }}</td>
                    <td>{{ ic.top_gold }}</td>
                    <td>{{ ic.top_jewel }}</td>
                    <td>{{ ic.top_key_num }}</td>
                    <td>{{ ic.score }}</td>
                    <td>{{ ic.brick_num }}</td>
                    <td>{{ ic.lottery_times }}</td>
                    <td>{{ ic.weapon_times }}</td>
                    <td>{{ ic.weapon_lev }}</td>
                    <td>{{ ic.signin }}</td>
                    <td>{{ ic.created_at }}</td>
                    <td>
                        <a class="viewPets btn btn-xs btn-info text-fill" v-bind:href="'<<<urlfor "IdleCraftingController.ViewPets">>>?userid='+ic.id">宠物<i class="fa fa-street-view"></i></a>
                        <a class="viewEffects btn btn-xs btn-info text-fill" v-bind:href="'<<<urlfor "IdleCraftingController.ViewEffects">>>?userid='+ic.id">效果<i class="fa fa-street-view"></i></a>
                        <a class="viewMaterials btn btn-xs btn-info text-fill" v-bind:href="'<<<urlfor "IdleCraftingController.ViewMaterials">>>?userid='+ic.id">材料<i class="fa fa-street-view"></i></a>
                        <a class="viewSkills btn btn-xs btn-info text-fill" v-bind:href="'<<<urlfor "IdleCraftingController.ViewSkills">>>?userid='+ic.id">技能<i class="fa fa-street-view"></i></a>
                        <a class="viewAchs btn btn-xs btn-info text-fill" v-bind:href="'<<<urlfor "IdleCraftingController.ViewAchs">>>?userid='+ic.id">成就<i class="fa fa-street-view"></i></a>
                        <a class="viewTasks btn btn-xs btn-info text-fill" v-bind:href="'<<<urlfor "IdleCraftingController.ViewTasks">>>?userid='+ic.id">任务<i class="fa fa-street-view"></i></a>
                        <a class="btn btn-warning btn-xs text-fill"  type="button" v-on:click="addedit(index)">修改</a>
                        <a class="btn btn-warning btn-xs text-fill"  type="button" v-on:click="deleteUser(ic.id)">删除</a>
                    </td>
                </tr>
            </template>
        </tbody>

    </table>
</div>
<!-- /.box-body -->

<<<template "common/error.html" .>>>

<<<template "idlecrafting/indexEdit.html" .>>>

<<<template "common/vuepagination.html" .>>>

<<<template "common/contentFooter.html" .>>>

<script type="text/javascript">
    var vueIc = new Vue({
        el: "#content_<<<.Module>>>_<<<.Action>>>",
        data: {
            pageTitle:'疯狂打怪',
            menuTitle:'游戏管理',
            IcList: <<<.IcData>>>,
            pagination:<<<.Pagination>>>,
            delete_url:<<<urlfor "IdleCraftingController.BaseDelete">>>,
            form_url: <<<urlfor "IdleCraftingController.Index">>>,
            currentBase:{}
        },
        components:{
            'vue-nav': Vnav
        },
        methods:{
            callback(data) {
                this.pagination.currentPage = data;
                var query = $("#form").serialize();
                query = query + "&page="+data;
                //console.log("query ", query);
                axios.post(this.form_url, query)
                    .then( (response) => {
                        var result = response.data;
                        //console.log("response ", result);
                        if (result.code==200){
                            this.IcList = result.data;
                        }else{
                            $('#modal-error').modal('show')
                            setTimeout(function () {
                                $('#modal-error').modal('hide');
                            }, 3000);
                        }
                    })
                    .catch(function (error) {
                        //console.log("error: ", error);
                        $('#modal-error').modal('show')
                        setTimeout(function () {
                            $('#modal-error').modal('hide');
                        }, 3000);
                    })
            },
            deleteUser:function(id){
                ajaxDev(this.delete_url, {userid:id}, '确定要删除该用户?');
            },
            addedit:function( id ){
                if( id!=null ){
                    var data = $.extend( {},this.IcList[id] );
                    this.currentBase = data;
                    $('#modal-editPage').modal('show')
                }else{
                    $('#modal-error').modal('show')
                    setTimeout(function () {
                        $('#modal-error').modal('hide');
                    }, 3000);
                }
            },
            submitForm:function(){
                var query = $("#form_edit").serialize();
                var url = $("#form_edit").attr("action");
                ajaxDev(url,query,'');
            }
        },
        filters:{
            formatDate: function (time) {
                var time = new Date(time * 1000);
                var y = time.getFullYear();//年
                var m = time.getMonth() + 1;//月
                var d = time.getDate();//日
                //var h = time.getHours();//时
                //var mm = time.getMinutes();//分
                //var s = time.getSeconds();//秒
                //return y + "-" + m + "-" + d + " " + h + ":" + mm + ":" + s
                return y + "/" + m + "/" + d
            }
        }
    });
</script>
