<<<template "common/contentHeader.html" .>>>

<div class="box-header">
    <form id="form" class="form-inline" role="form" v-on:submit.prevent='callback(1)'>
        <input name="userid" size="20" type="hidden" class="form-control" id="userid" value="<<<.Userid>>>" placeholder="请输入userid">
        <div class="form-group">
            <label for="petid">宠物ID:</label>
            <input name="petid" size="20" type="text" class="form-control" id="petid" value="<<<.Petid>>>" placeholder="请输入宠物ID">
        </div>
        <div class="form-group">
            <label for="startTime">Date:</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input name="startTime" class="form-control pull-right" id="datepicker" type="text" value="<<<.StartTime>>>" placeholder="请输入开始日期">
            </div>
            <!-- /.input group -->
        </div>
        <div class="form-group">
            <label for="endTime">Date:</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input name="endTime" class="form-control pull-right" id="datepicker" type="text" value="<<<.EndTime>>>" placeholder="请输入结束日期">
            </div>
            <!-- /.input group -->
        </div>

        <input type="submit" class="btn btn-info" value="查询"/>
    </form>
</div>
<!-- /.box-header -->

<div class="box-body table-responsive no-padding">
    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">

        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="activate to sort column descending">宠物id</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">等级</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">星数</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">进度</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">更新日期</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <template v-for="(pet,index) in petList" v-cloak>
                <tr role="row" class="odd">
                    <td>{{ pet.pet_id }}</td>
                    <td>{{ pet.level }}</td>
                    <td>{{ pet.star }}</td>
                    <td>{{ pet.extra }}</td>
                    <td>{{ pet.updated_at }}</td>
                    <td>
                        <a class="btn btn-warning btn-xs text-fill"  type="button" v-on:click="addedit(index)">修改</a>
                    </td>
                </tr>
            </template>
        </tbody>

    </table>
</div>
<!-- /.box-body -->

<<<template "common/error.html" .>>>

<<<template "idlecrafting/viewPetsEdit.html" .>>>

<<<template "common/vuepagination.html" .>>>

<<<template "common/contentFooter.html" .>>>

<script type="text/javascript">
    var vueIcPets = new Vue({
        el: "#content_<<<.Module>>>_<<<.Action>>>",
        data: {
            pageTitle:'宠物数据',
            menuTitle:'游戏管理',
            petList: <<<.IcPets>>>,
            pagination:<<<.Pagination>>>,
            form_url: <<<urlfor "IdleCraftingController.ViewPets">>>,
            currentPet:{}
        },
        components:{
            'vue-nav': Vnav
        },
        methods:{
            callback(data) {
                this.pagination.currentPage = data;
                var query = $("#form").serialize();
                query = query + "&page="+data;
                //console.log("query ", query);
                axios.post(this.form_url, query)
                    .then( (response) => {
                        var result = response.data;
                        //console.log("response ", result);
                        if (result.code==200){
                            this.petList = result.data;
                        }else{
                            $('#modal-error').modal('show')
                            setTimeout(function () {
                                $('#modal-error').modal('hide');
                            }, 3000);
                        }
                    })
                    .catch(function (error) {
                        //console.log("error: ", error);
                        $('#modal-error').modal('show')
                        setTimeout(function () {
                            $('#modal-error').modal('hide');
                        }, 3000);
                    })
            },
            addedit:function( id ){
                if( id!==null ){
                    var data = $.extend( {},this.petList[id] );
                    this.currentPet = data;
                    $('#modal-editPage').modal('show')
                }else{
                    $('#modal-error').modal('show')
                    setTimeout(function () {
                        $('#modal-error').modal('hide');
                    }, 3000);
                }
            },
            submitForm:function(){
                var query = $("#form_edit").serialize();
                var url = $("#form_edit").attr("action");
                ajaxDev(url,query,'');
            }
        },
        filters:{
            formatDate: function (time) {
                var time = new Date(time * 1000);
                var y = time.getFullYear();//年
                var m = time.getMonth() + 1;//月
                var d = time.getDate();//日
                //var h = time.getHours();//时
                //var mm = time.getMinutes();//分
                //var s = time.getSeconds();//秒
                //return y + "-" + m + "-" + d + " " + h + ":" + mm + ":" + s
                return y + "/" + m + "/" + d
            }
        }
    });
</script>
