<<<template "common/contentHeader.html" .>>>

<!--div class="box-header">
</div-->
<!-- /.box-header -->

<!--div class="box-body chat" id="chat-box">
</div-->
<!-- /.chat -->

<!--div class="box-footer">
</div-->

<<<template "common/error.html" .>>>

<<<template "common/contentFooter.html" .>>>

<script>
    var vueBashboard = new Vue({
        el: "#content_<<<.Module>>>_<<<.Action>>>",
        data: {
            pageTitle:'主界面',
            menuTitle:'主界面',
        },
        methods:{
        },
        watch: {
        },
        mounted: function() {
        }
    });
</script>
