<!-- ./wrapper -->
<div id="modal-addPage" class="modal fade modal-form">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">新增/编辑福券配置</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="form_add" action="<<<urlfor "FuDaiController.FuDaiEdit">>>" method="POST">
                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <td>福袋ID</td>
                                <td><input  v-model="currentFuDai.bag" id="bag" name="bag" type="text" class="form-control" placeholder="输入福袋ID"></td>
                            </tr>
                            <tr>
                                <td>福券数量</td>
                                <td><input  v-model="currentFuDai.num" id="num" name="num" type="text" class="form-control" placeholder="输入福券数量"></td>
                            </tr>
                            <input v-model="currentFuDai.id" id="id" name="id" type="hidden">
                            <input v-model="currentFuDai.project_id" id="project_id" name="project_id" type="hidden">
                        </tbody>
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="submit" class="btn btn-primary btn-info pull-right" v-on:click="submitForm">确认提交</button>
            </div>
        </div>
    </div>
</div>
