<!-- Content Wrapper. Contains page content -->
<div id="content_<<<.Module>>>_<<<.Action>>>">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{pageTitle}}
                <small>{{menuTitle}}</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li><a href="#">{{pageTitle}}</a></li>
                <li class="active">{{menuTitle}}</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">

            <div class="row">
                <div class="col-xs-12">
                    <div class="box box-success">
