<div class="box-footer clearfix">
    <div is="uib-pagination" v-bind:max-size="10" v-bind:boundary-links="true" v-bind:total-items="pagination.totalCounts" 
         v-bind:value="pagination" class="pagination-sm no-margin pull-right" previous-text="&lsaquo;" next-text="&rsaquo;" 
                                                                                                       first-text="&laquo;" last-text="&raquo;"></div>
</div>
<script type="text/javascript" src="/static/plugins/VueJs/pagination/index.js"></script>
