<<<template "common/contentHeader.html" .>>>

<div class="box-header">
    <form id="form" class="form-inline" role="form" v-on:submit.prevent='callback(1)'>
        <div class="form-group">
            <label for="userid">Userid:</label>
            <input name="userid" size="20" type="text" class="form-control" id="userid" value="<<<.Userid>>>" placeholder="请输入userid">
        </div>
        <div class="form-group">
            <label for="gold">{{ currentType == 1 ? "福券" : "金币" }}</label>
            <input name="gold" size="20" type="text" class="form-control" id="gold" value="<<<.Gold>>>" placeholder="请输入数量">
        </div>
        <div class="form-group">
            <label for="startTime">Date:</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input name="startTime" class="form-control pull-right" id="start_datepicker" type="text" value="<<<.StartTime>>>" placeholder="请输入开始日期">
            </div>
            <!-- /.input group -->
        </div>
        <div class="form-group">
            <label for="endTime">Date:</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input name="endTime" class="form-control pull-right" id="end_datepicker" type="text" value="<<<.EndTime>>>" placeholder="请输入结束日期">
            </div>
            <!-- /.input group -->
        </div>

        <div class="form-group">
            <label for="source_id">渠道:</label>
            <select v-model="currentSourceID" class="form-control" id="source_id" name="source_id">
                <!--option value="0">全部</option-->
                <option v-for="val in sourceList" v-bind:value="val.source_id" v-cloak>{{val.name}}</option>
            </select>
            <!-- /.input group -->
        </div>

        <div class="form-group">
            <label for="type">类型:</label>
            <select v-model="currentType" class="form-control" id="type" name="type" @change="callback(1)">
                <option value="0">玩家</option>
                <option value="1">福袋</option>
            </select>
            <!-- /.input group -->
        </div>

        <input type="submit" class="btn btn-info" value="查询"/>
    </form>
</div>
<!-- /.box-header -->

<div class="box-body table-responsive no-padding">
    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">

        <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="activate to sort column descending">Userid</th>
                <template v-if="currentType == 0">
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">金币</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">关卡</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">解锁关卡</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">渠道</th>
                </template>
                <template v-else>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">当天日期</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">第几天</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">通关数量</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">当前进行福袋</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">当天已领福袋</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">非当天福袋数</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">福券数量</th>
                </template>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">更新时间</th>
                <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="activate to sort column ascending">注册日期</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
            <template v-for="(val,index) in even(List)" v-cloak>
                <tr role="row" class="odd" v-if="currentType==0">
                    <td>{{ val.id }}</td>
                    <td>{{ val.gold }}</td>
                    <td>{{ val.gate }}</td>
                    <td>{{ val.unlock_gate }}</td>
                    <td>{{ val.source_id }}</td>
                    <td>{{ val.updated_at }}</td>
                    <td>{{ val.created_at }}</td>
                    <td>
                        <a class="btn btn-warning btn-xs text-fill"  type="button" v-on:click="addedit(index)">修改</a>
                        <a class="btn btn-warning btn-xs text-fill"  type="button" v-on:click="fudaiedit(val.id)">福袋</a>
                        <a class="btn btn-warning btn-xs text-fill"  type="button" v-on:click="deleteUser(val.id)">删除</a>
                        <a class="btn btn-warning btn-xs text-fill"  type="button" v-on:click="deleteRank(val.id)">删除排名</a>
                    </td>
                </tr>
                <tr role="row" class="odd" v-else>
                    <td>{{ val.userid }}</td>
                    <td>{{ val.today }}</td>
                    <td>{{ val.days }}</td>
                    <td>{{ val.level }}</td>
                    <td>{{ val.bag }}</td>
                    <td>{{ val.bag_num }}</td>
                    <td>{{ val.number }}</td>
                    <td>{{ val.ticket }}</td>
                    <td>{{ val.updated_at }}</td>
                    <td>{{ val.created_at }}</td>
                    <td>
                        <a class="btn btn-warning btn-xs text-fill"  type="button" v-on:click="fudaiedit2(index)">修改</a>
                    </td>
                </tr>
            </template>
        </tbody>

    </table>
</div>
<!-- /.box-body -->

<<<template "common/error.html" .>>>

<<<template "pintu/indexEdit.html" .>>>
<<<template "pintu/fudaiEdit.html" .>>>

<<<template "common/vuepagination.html" .>>>

<<<template "common/contentFooter.html" .>>>

<script type="text/javascript">
    var vuePintu = new Vue({
        el: "#content_<<<.Module>>>_<<<.Action>>>",
        data: {
            pageTitle:'拼图大师',
            menuTitle:'游戏管理',
            List: <<<.BaseData>>>,
            sourceList: <<<.Sources>>>,
            currentSourceID: <<<.SourceID>>>,
            pagination:<<<.Pagination>>>,
            form_url: <<<urlfor "PintuController.Index">>>,
            fudai_url: <<<urlfor "PintuController.FuDai">>>,
            delete_url:<<<urlfor "PintuController.BaseDelete">>>,
            delete_rank_url:<<<urlfor "PintuController.RankDelete">>>,
            currentType: 0,
            currentFudaiBase:{},
            currentBase:{}
        },
        components:{
            'vue-nav': Vnav
        },
        methods:{
            even: function (List) {
                if (List == null) {
                    return
                }
                var list = this.sourceList;
                var Type = this.currentType;
                return List.filter(function (val) {
                    if (Type == 1) {
                        return true
                    }
                    for (var i in list) {
                        if (val.source_id == list[i].source_id) {
                            val.source_id = list[i].name
                            return true
                        }
                    }
                    return true
                })
            },
            callback(data) {
                this.pagination.currentPage = data;
                var query = $("#form").serialize();
                query = query + "&page="+data;
                //console.log("query ", query);
                axios.post(this.form_url, query)
                    .then( (response) => {
                        var result = response.data;
                        //console.log("response ", result);
                        if (result.code==200){
                            this.List = result.data.BaseData;
                            this.pagination = result.data.Pagination;
                        }else{
                            $('#modal-error').modal('show')
                            setTimeout(function () {
                                $('#modal-error').modal('hide');
                            }, 3000);
                        }
                    })
                    .catch(function (error) {
                        //console.log("error: ", error);
                        $('#modal-error').modal('show')
                        setTimeout(function () {
                            $('#modal-error').modal('hide');
                        }, 3000);
                    })
            },
            addedit:function( id ){
                if( id!=null ){
                    var data = $.extend( {},this.List[id] );
                    this.currentBase = data;
                    $('#modal-editPage').modal('show')
                }else{
                    $('#modal-error').modal('show')
                    setTimeout(function () {
                        $('#modal-error').modal('hide');
                    }, 3000);
                }
            },
            fudaiedit2:function( id ){
                if( id!=null ){
                    var data = $.extend( {},this.List[id] );
                    this.currentFudaiBase = data;
                    $('#modal-fudaieditPage').modal('show')
                }else{
                    $('#modal-error').modal('show')
                    setTimeout(function () {
                        $('#modal-error').modal('hide');
                    }, 3000);
                }
            },
            getfudai(userid) {
                var query = "userid="+userid;
                //console.log("query ", query);
                axios.post(this.fudai_url, query)
                    .then( (response) => {
                        var result = response.data;
                        //console.log("response ", result);
                        if (result.code==200){
                            //console.log(result.data);
                            this.currentFudaiBase = result.data;
                        }else{
                            $('#modal-error').modal('show')
                            setTimeout(function () {
                                $('#modal-error').modal('hide');
                            }, 3000);
                        }
                    })
                    .catch(function (error) {
                        //console.log("error: ", error);
                        $('#modal-error').modal('show')
                        setTimeout(function () {
                            $('#modal-error').modal('hide');
                        }, 3000);
                    })
            },
            fudaiedit:function( id ){
                if( id ){
                    this.getfudai(id);
                    $('#modal-fudaieditPage').modal('show')
                }else{
                    $('#modal-error').modal('show')
                    setTimeout(function () {
                        $('#modal-error').modal('hide');
                    }, 3000);
                }
            },
            deleteUser:function(id){
                ajaxDev(this.delete_url, {userid:id}, '确定要删除该用户?');
            },
            deleteRank:function(id){
                ajaxDev(this.delete_rank_url, {userid:id}, '确定要删除该用户积分排行?');
            },
            submitForm:function(){
                var query = $("#form_edit").serialize();
                var url = $("#form_edit").attr("action");
                ajaxDev(url,query,'');
            },
            submitFudaiForm:function(){
                var query = $("#form_fudai_edit").serialize();
                var url = $("#form_fudai_edit").attr("action");
                ajaxDev(url,query,'');
            }
        },
        filters:{
            formatDate: function (time) {
                var time = new Date(time * 1000);
                var y = time.getFullYear();//年
                var m = time.getMonth() + 1;//月
                var d = time.getDate();//日
                var h = time.getHours();//时
                var mm = time.getMinutes();//分
                var s = time.getSeconds();//秒
                return y + "-" + m + "-" + d + " " + h + ":" + mm + ":" + s
            }
        }
    });
</script>
